BankingSOAP/AccountServiceImpService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://SOAP/" name="AccountServiceImpService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://SOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types/>
  <message name="deposit">
    <part name="arg0" type="xsd:double"/>
    <part name="arg1" type="xsd:int"/>
  </message>
  <message name="depositResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="getBalance">
    <part name="arg0" type="xsd:int"/>
  </message>
  <message name="getBalanceResponse">
    <part name="return" type="xsd:double"/>
  </message>
  <message name="createAccount"/>
  <message name="createAccountResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="withdraw">
    <part name="arg0" type="xsd:double"/>
    <part name="arg1" type="xsd:int"/>
  </message>
  <message name="withdrawResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <portType name="AccountService">
    <operation name="deposit" parameterOrder="arg0 arg1">
      <input wsam:Action="http://SOAP/AccountService/depositRequest" message="tns:deposit"/>
      <output wsam:Action="http://SOAP/AccountService/depositResponse" message="tns:depositResponse"/>
    </operation>
    <operation name="getBalance">
      <input wsam:Action="http://SOAP/AccountService/getBalanceRequest" message="tns:getBalance"/>
      <output wsam:Action="http://SOAP/AccountService/getBalanceResponse" message="tns:getBalanceResponse"/>
    </operation>
    <operation name="createAccount">
      <input wsam:Action="http://SOAP/AccountService/createAccountRequest" message="tns:createAccount"/>
      <output wsam:Action="http://SOAP/AccountService/createAccountResponse" message="tns:createAccountResponse"/>
    </operation>
    <operation name="withdraw" parameterOrder="arg0 arg1">
      <input wsam:Action="http://SOAP/AccountService/withdrawRequest" message="tns:withdraw"/>
      <output wsam:Action="http://SOAP/AccountService/withdrawResponse" message="tns:withdrawResponse"/>
    </operation>
  </portType>
  <binding name="AccountServiceImpPortBinding" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="deposit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </output>
    </operation>
    <operation name="getBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </output>
    </operation>
    <operation name="createAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </output>
    </operation>
    <operation name="withdraw">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://SOAP/"/>
      </output>
    </operation>
  </binding>
  <service name="AccountServiceImpService">
    <port name="AccountServiceImpPort" binding="tns:AccountServiceImpPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

